@media screen and (max-width:768px) {
    .nav-bar-icon-image {
        width: 2.8rem;
        height: auto;
    }

    h3 {
        font-size: 1.1rem;
    }

    .category-button {
        padding: 2px 12px 5px 12px;
        font-size: .8rem;
    }
}


@media screen and (max-width:428px) {
    .nav-bar-icon-image {
        width: 2.8rem;
        height: auto;
    }

    h3 {
        font-size: .8rem;
    }

    .category-button {
        padding: 2px 12px 5px 12px;
        font-size: .63rem;
    }
}